
@{
    ViewBag.Title = "Index";
}
<h1 class="text-center"> Game Hub</h1>
<div class="text-center">
    <a href="/Game" class="btn btn-primary m-2"> Lista Gier </a>
    <a href="/Score" class="btn btn-primary m-2"> Wyniki </a>
    <a href="/User" class="btn btn-primary m-2"> Użytkownicy </a>
</div>

