@model IEnumerable<GameHub.Helpers.ViewModelScore>
@{
    Layout = null;
}

<table class="table table-bordered table-sm text-center mt-3">
    <thead>
        <tr>
            <th>Place</th>
            <th>Username</th>
            <th>Points</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            int place = 1;
            foreach (var score in Model)
            {
                var rowClass = place == 1 ? "background-color: gold;"
                     : place == 2 ? "background-color: silver;"
                     : place == 3 ? "background-color: #cd7f32;"
                     : "";
                <tr>
                    <td>@place</td>
                    <td>@score.Username</td>
                    <td>@score.Points</td>
                    <td>@score.Date.ToShortDateString()</td>
                </tr>
                place++;
            }
        }
    </tbody>
</table>