@model IEnumerable<GameHub.Models.Score>
@{
    Layout = null;
}


<table class="table table-bordered table-sm text-center mt-3">
    <thead>
        <tr>
            <th>Miejsce</th>
            <th>Gracz</th>
            <th>Punkty</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @{
            int place = 1;
            foreach (var score in Model)
            {
                <tr>
                    <td>@place</td>
                    <td>@score.user?.Username ?? "Anonim"</td>
                    <td>@score.points</td>
                    <td>@score.date.ToShortDateString()</td>
                </tr>
                place++;
            }
        }
    </tbody>
</table>