@model IEnumerable<GameHub.Helpers.ViewModelGameCat>
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game List</h2>

@foreach (var group in Model)
{
    <h3>@group.Category.Name</h3>
    <div class="row">
        @foreach (var gameVm in group.Games)
        {
            <div class="col-md-4">
                <h4>@gameVm.Game.name</h4>
                @if (!string.IsNullOrEmpty(gameVm.GifUrl))
                {
                    <img src="@gameVm.GifUrl" alt="gif" class="img-responsive" />
                }
                <p>@gameVm.Description</p>
            </div>
        }
    </div>
}